
/* Weather */
  .weather__container {
    @apply flex gap-[35px] p-[30px];
  }
  .weather-input {
    @apply w-[550px];
  }
  .weather-input input {
    @apply h-[46px] w-full text-[1.07rem] rounded border mt-2.5 mb-5 mx-0 px-[17px] py-0 border-solid border-[#ccc] focus:px-4 focus:py-0 focus:border-2 focus:border-solid focus:border-[#5372F0];
    outline: none;
  }
  .weather-input .separator {
    @apply h-px w-full flex items-center justify-center mx-0 my-[25px] before:content-["or"] before:text-[#6C757D] before:text-[1.18rem] before:-mt-1 before:px-[15px] before:py-0;
    background: #bbbbbb;
  }
  .weather-input .separator::before {
    background: #e3f2fd;
  }
  .weather-input button {
    @apply w-full cursor-pointer rounded text-base text-white transition-[0.2s] duration-[ease] px-0 py-2.5 border-[none];
    outline: none;
    background: #5372f0;
  }
  .weather-input .search-btn:hover {
    background: #2c52ed;
  }
  .weather-input .location-btn {
    background: #6c757d;
  }
  .weather-input .location-btn:hover {
    background: #5c636a;
  }
  .weather-data {
    @apply w-full;
  }
  .weather-data .current-weather {
    @apply text-white flex justify-between pl-5 pr-[70px] py-5 rounded-[5px];
    background: #5372f0;
  }
  .current-weather h2 {
    @apply font-bold text-[1.7rem];
  }
  .weather-data h6 {
    @apply text-base font-medium mt-3;
  }
  .current-weather .icon {
    @apply text-center;
  }
  .current-weather .icon img {
    @apply max-w-[120px] mt-[-15px];
  }
  .current-weather .icon h6 {
    @apply capitalize -mt-2.5;
  }
  .days-forecast h2 {
    @apply text-2xl mx-0 my-5;
  }
  .days-forecast .weather-cards {
    @apply flex gap-5;
  }
  .weather-cards .card {
    @apply text-white w-[calc(100%_/_5)] px-4 py-[18px] rounded-[5px];
    list-style: none;
    background: #6c757d;
  }
  .weather-cards .card h3 {
    @apply text-[1.3rem] font-semibold;
  }
  .weather-cards .card img {
    @apply max-w-[70px] mt-[5px] -mb-3 mx-0;
  }
  @media (max-width: 1400px) {
    .weather-data .current-weather {
      @apply p-5;
    }
    .weather-cards {
      @apply flex-wrap;
    }
    .weather-cards .card {
      @apply w-[calc(100%_/_4_-_15px)];
    }
  }
  @media (max-width: 1200px) {
    .weather-cards .card {
      @apply w-[calc(100%_/_3_-_15px)];
    }
  }
  @media (max-width: 950px) {
    .weather-input {
      @apply w-[450px];
    }
    .weather-cards .card {
      @apply w-[calc(100%_/_2_-_10px)];
    }
  }
  @media (max-width: 750px) {
    .weather__container {
      @apply flex-wrap p-[15px];
    }
    .weather-input {
      @apply w-full;
    }
    .weather-data h2 {
      @apply text-[1.35rem];
    }
  }

  /* calendar */
  .wrapper {
  @apply  w-[450px] shadow-[0_15px_40px_rgba(0,0,0,0.12)] rounded-[10px];
  background: #fff;
  margin: 0 auto;
}
.wrapper header {
  @apply flex items-center justify-between pt-[25px] pb-2.5 px-[30px];
}
header .icons {
  @apply flex;
}
header .icons span {
  @apply h-[38px] w-[38px] cursor-pointer text-[#878787] text-center leading-[38px] text-[1.9rem] select-none mx-px my-0 rounded-[50%];
}
.icons span:last-child {
  @apply -mr-2.5;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  @apply text-[1.45rem] font-medium;
}
.calendar {
  @apply p-5;
}
.calendar ul {
  @apply flex flex-wrap text-center;
  list-style: none;
}
.calendar .days {
  @apply mb-5;
}
.calendar li {
  @apply text-[#333] w-[calc(100%_/_7)] text-[1.07rem];
}
.calendar .weeks li {
  @apply font-medium cursor-default;
}
.calendar .days li {
  @apply z-[1] cursor-pointer relative mt-[30px];
}
.days li.inactive {
  @apply text-[#aaa];
}
.days li.active {
  @apply text-white;
}
.days li::before {
  @apply absolute content-[""] h-10 w-10 z-[-1] -translate-x-2/4 -translate-y-2/4 rounded-[50%] left-2/4 top-2/4;
}
.days li.active::before {
  background: #3b0251;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}

/* translator */
.translator__container {
    @apply max-w-[690px] w-full shadow-[0_10px_20px_rgba(0,0,0,0.01)] p-[30px] rounded-[7px];
    background: #fff;
  }
  .translator__wrapper {
    @apply border rounded-[5px] border-solid border-[#ccc];
  }
  .translator__wrapper .text-input {
    @apply flex border-b-[#ccc] border-b border-solid;
  }
  .text-input .to-text {
    @apply rounded-none border-l-[#ccc] border-l border-solid;
  }
  .text-input textarea {
    @apply h-[250px] w-full resize-none text-lg px-[15px] py-2.5 rounded-[5px] border-[none];
    outline: none;
    background: none;
  }
  .text-input textarea::placeholder {
    @apply text-[#b7b6b6];
  }
  .controls,
  li,
  .icons,
  .icons i {
    @apply flex items-center justify-between;
  }
  .controls {
    @apply px-[15px] py-3;
    list-style: none;
  }
  .controls .row .icons {
    @apply w-[38%];
  }
  .controls .row .icons i {
    @apply w-[50px] text-[#adadad] text-sm cursor-pointer transition-transform duration-[0.2s] ease-[ease] justify-center;
  }
  .controls .row.from .icons {
    @apply pr-[15px] border-r-[#ccc] border-r border-solid;
  }
  .controls .row.to .icons {
    @apply pl-[15px] border-l-[#ccc] border-l border-solid;
  }
  .controls .row select {
    @apply text-[#333] text-lg pl-[5px] border-[none];
    outline: none;
    background: none;
  }
  .text-input textarea::-webkit-scrollbar {
    @apply w-1;
  }
  .controls .row select::-webkit-scrollbar {
    @apply w-2;
  }
  .text-input textarea::-webkit-scrollbar-track,
  .controls .row select::-webkit-scrollbar-track {
    background: #fff;
  }
  .text-input textarea::-webkit-scrollbar-thumb {
    @apply rounded-lg;
    background: #ddd;
  }
  .controls .row select::-webkit-scrollbar-thumb {
    @apply rounded-lg border-r-2 border-r-white border-solid;
    background: #999;
  }
  .controls .exchange {
    @apply text-[#adadad] cursor-pointer text-base transition-transform duration-[0.2s] ease-[ease];
  }
  .controls i:active {
    @apply scale-90;
  }
  .translator__container button {
    @apply w-full text-white cursor-pointer text-[17px] mt-5 p-3.5 rounded-[5px] border-[none];
    outline: none;
    background: #5372f0;
  }
  @media (max-width: 660px) {
    .translator__container {
      @apply p-5;
    }
    .translator__wrapper .text-input {
      @apply flex-col;
    }
    .text-input .to-text {
      @apply border-l-0 border-t-[#ccc] border-t border-solid;
    }
    .text-input textarea {
      @apply h-[200px];
    }
    .controls .row .icons {
      @apply hidden;
    }
    .translator__container button {
      @apply text-base p-[13px];
    }
    .controls .row select {
      @apply text-base;
    }
    .controls .exchange {
      @apply text-sm;
    }
  }
  