:root {

    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 57%); 
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;
  
  
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }
  
  @media screen and (min-width: 968px) {
    :root {
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
.profile__data {
    display: grid;
    text-align: center;
}
.profile__perfil {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, 
                hsla(var(--hue), var(--sat), var(--lig), 1) 0%, 
                hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Canh giữa */
    margin-bottom: 15px; /* Khoảng cách giữa avatar và profile__name */
    margin-top: 15px;
    border: 3px solid #1DA1F2;
  }
  
  .profile__perfil img {
    width: 100%; /* Kích thước hình ảnh avatar */
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile__name {
    font-size: var(--h2-font-size);
  }

  .introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
    padding: 2rem;
    margin: 1.5rem auto;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #f0f0f0;
  }

  